:root {
    --main-font: 'Roboto', sans-serif;
    --heading-font: 'Concert One', cursive;
    --text-color: #303030;
    --button-color: #99004A;
    --background-color1:#E0E5E6;
    --background-color2:#EDF1F2;
}


body, html {
    margin: 0;
    padding: 0;
}

/* Header section */

.headline {
    background-image: url('images/header-mobile.png');
    background-size: cover;
    background-position: center;
    padding: 120px 0;
    height: auto;
    max-width: 100%;
}


@media (min-width: 576px) {
    .headline {
        background-image: url('images/header.png');
    }
}

.text-container {
    padding: 20px;
    max-width: 600px; 
    box-sizing: border-box;
    max-width: 500px;
}

.text-container h1 {
    font-family: var(--heading-font);
    color: var(--text-color);
    margin-bottom: 0.5rem;
    max-width: 500px;
    font-size: 8vw;
}

.text-container p {
    font-family: var(--main-font);
    color: var(--text-color);
    margin-bottom: 1rem;
    font-size: 8;
}

.text-container button {
    background-color: var(--button-color) !important;
    border-radius: 50px !important;
    padding: 10px 5px !important;
    max-width: 300px;
    font-family: var(--heading-font) !important;
    border: none !important;
}

/* Quote section */

section {
    margin-top: 60px;
}

blockquote {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
    font-family: var(--main-font);
  }
  
  blockquote::before {
    content: "“"; 
    position: absolute;
    left: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 0;
    font-size: 3.5rem; 
    line-height: 0;
    color: #000; 
  }
  
  blockquote::after {
    content: "”"; 
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem; 
    line-height: 0;
    color: #000; 
  }

/* Image grid section */

  .container-fluid.full-width { 
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}

    .container-fluid.full-width { 
        padding-left: 0;
        padding-right: 0;
        overflow-x: hidden;
    }

    .row.row-no-gutter {
        margin: 0;
    }

    .row.row-no-gutter [class*="col-"] {
        padding: 0;
    }

    .img-full-width {
        width: 100%;
        height: auto;
    }

    .has-inner .row.row-no-gutter {
        margin-left: -10px;
        margin-right: -10px;
    }

    .row.row-no-gutter .inner {
        padding-left: 10px;
        padding-right: 10px;
    }


    .col-xs-4:first-child {
        padding-left: 0;
    }

    .col-xs-4:last-child {
        padding-right: 0;
    }

   /* Cyber threats section */
   
    .cyber-threats h1, h5 {
        font-family: var(--heading-font);
        color: #303030;
    }
    .cyber-threats p {
        color: #303030;
        font-family: var(--main-font);
    }
    .card {
        border: none !important;
        color: #303030;
    }

    .card h5 {
        font-family: var(--heading-font);
    }

    .card p {
        font-family: var(--main-font);
    }

    .security-scan {
        text-align: center;
        margin-top: 20px;
    }
    .security-scan button {
        background-color: var(--button-color) !important;
        border-radius: 50px !important;
        padding: 15px 20px !important;
        color: white !important;
        border: none !important;
        max-width: 400px;
        font-family: var(--heading-font) !important;
    }

    /* Video section */

    .video-section {
        position: relative;
        width: 100%;
        max-width: 800px; 
        margin: auto;
      }
      .video-section video {
        width: 100%;
        height: auto;
        display: block;
      }

      /* Book section */

    .book {
        background-color: var(--background-color1);
    }

    .book h6 {
        font-family: var(--t-font);
        color: #93A6AA;
    }

    .book h2 {
        font-family: var(--heading-font);
        color: var(--text-color);
    }

    .book p {
        font-family: var(--main-font);
        color: var(--text-color);
    }

    .book button {
        border-radius: 10px !important;
        padding: 15px 40px !important;
        color: white !important;
        border: none !important;
        background-color: #93A6AA !important;
        max-width: 400px !important;
        color: var(--text-color) !important;
        font-family: var(--heading-font) !important;
    }

    /* Vendemo section */ 

    .vendemo h2 {
        font-family: var(--heading-font);
        color: var(--text-color);
    }

    .vendemo h3 {
        font-family: var(--heading-font);
        color: var(--text-color);
    }

    .vendemo p {
        font-family: var(--main-font);
        color: var(--text-color);
    }

    /* Blog section */

    .blog {
        background-color: var(--background-color1);
    }
    
    .blog {
        background-image: url('images/banner2.jpg'); /* Replace with actual image URL */
        background-size: cover;
        background-position: center;
        height: auto;
        max-width: 100%;
    }

    @media (max-width: 576px) {
        .blog {
            background-image: none;
        }
    }

    .blog h2, h3 {
        font-family: var(--heading-font);
        color: var(--text-color);
    }

    .blog p {
        font-family: var(--main-font);
        color: var(--text-color);
    }

    .blog button {
        border-radius: 10px !important;
        padding: 15px 60px !important;
        color: white !important;
        border: none !important;
        background-color: #003641 !important;
        max-width: 400px !important;
        font-family: var(--heading-font) !important;
    }

    /* Form */

    .form-section {
        background-color: var(--background-color2);
        margin: 0;
        padding: 0;

    }

    input[type="text"], 
    input[type="email"], 
    input[type="tel"] {
    border-radius: 0px; 
    }


    .form-section h1 {
        font-family: var(--heading-font);
    }

    .form-section p {
        font-family: var(--main-font);
    }

    .form-section form {
        font-family: var(--main-font);
    }

    .form-section button {
        border-radius: 10px !important;
        padding: 15px 60px !important;
        color: white !important;
        border: none !important;
        background-color: var(--text-color) !important;
        max-width: 400px !important;
        font-family: var(--heading-font) !important;
    }

