:root {
    --main-font: 'Roboto', sans-serif;
    --heading-font: 'Concert One', cursive;
    --headline-color: #303030;
    --button-color: #99004A;
}


body, html {
    margin: 0;
    padding: 0;
}

/* Header section */

.headline {
    background-image: url('images/header-mobile.png');
    background-size: cover;
    background-position: center;
    height: 90vh; 
}


@media (min-width: 576px) {
    .headline {
        background-image: url('images/header.png');
        height: 70vh; 
    }
}


.text-container {
    padding: 20px;
    max-width: 100%; 
    box-sizing: border-box;
}

.text-container h1 {
    font-family: var(--heading-font);
    color: var(--headline-color);
    margin-bottom: 0.5rem;
    max-width: 500px;
}

.text-container p {
    font-family: var(--main-font);
    color: var(--headline-color);
    margin-bottom: 1rem;
}

.text-container button {
    background-color: var(--button-color) !important;
    border-radius: 50px !important;
    padding: 10px 5px !important;
    max-width: 350px;
    font-family: var(--heading-font) !important;
    border: none !important;
}

/* Quote section */

section {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 60px;
}

blockquote {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
    font-family: var(--main-font);
  }
  
  blockquote::before {
    content: "“"; 
    position: absolute;
    left: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 0;
    font-size: 3.5rem; 
    line-height: 0;
    color: #000; 
  }
  
  blockquote::after {
    content: "”"; 
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem; 
    line-height: 0;
    color: #000; 
  }

 
/* Image grid section */


  .container-fluid.full-width { 
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}

    .container-fluid.full-width { 
        padding-left: 0;
        padding-right: 0;
        overflow-x: hidden;
    }

    .row.row-no-gutter {
        margin: 0;
    }

    .row.row-no-gutter [class*="col-"] {
        padding: 0;
    }

    .img-full-width {
        width: 100%;
        height: auto;
    }

    .has-inner .row.row-no-gutter {
        margin-left: -10px;
        margin-right: -10px;
    }

    .row.row-no-gutter .inner {
        padding-left: 10px;
        padding-right: 10px;
    }


    .col-xs-4:first-child {
        padding-left: 0;
    }

    .col-xs-4:last-child {
        padding-right: 0;
    }


   /* Cyber threats section */
   
    .cyber-header {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .cyber-header h1 {
        font-family: var(--heading-font);
        color: #303030;
    }
    .cyber-header p {
        color: #303030;
        font-family: var(--main-font);
    }
    .card {
        border: none !important;
        color: #303030;
    }

    .card h5 {
        font-family: var(--heading-font);
    }

    .card p {
        font-family: var(--main-font);
    }

    .security-scan {
        text-align: center;
        margin-top: 20px;
    }
    .security-scan button {
        background-color: var(--button-color) !important;
        border-radius: 50px !important;
        padding: 15px 20px !important;
        color: white !important;
        border: none !important;
        max-width: 400px;
        font-family: var(--heading-font) !important;
    }


    .video-section {
        position: relative;
        width: 100%;
        max-width: 800px; 
        margin: auto;
      }
      .video-section video {
        width: 100%;
        height: auto;
        display: block;
      }


    /* Book section */

    .book {
        background-color: #E0E5E6;
    }

    .book h6 {
        font-family: var(--heading-font);
        color: #93A6AA;
    }

    .book h2 {
        font-family: var(--heading-font);
        color: var(--headline-color);
    }

    .book p {
        font-family: var(--main-font);
        color: var(--headline-color);
    }


    .book button {
        border-radius: 10px !important;
        padding: 15px 40px !important;
        color: white !important;
        border: none !important;
        background-color: #93A6AA !important;
        max-width: 400px !important;
        color: var(--headline-color) !important;
        font-family: var(--heading-font) !important;
    }

