:root {
    --main-font: 'Roboto', sans-serif;
    --heading-font: 'Concert One', cursive;
    --secondary-font: 'M PLUS Rounded 1c', sans-serif;
    --headline-color: #303030;
    --button-color: #99004A;
}


body, html {
    margin: 0;
    padding: 0;
}


.headline {
    background-image: url('images/header-mobile.png');
    background-size: cover;
    background-position: center;
    display: flex;
    height: 90vh; 
    justify-content: center;
    align-items: center;
}


@media (min-width: 576px) {
    .headline {
        background-image: url('images/header.png');
        height: 70vh; 
    }
}


.text-container {
    padding: 20px;
    color: #fff; 
    max-width: 100%; 
    box-sizing: border-box;
}

.text-container h1 {
    font-family: var(--heading-font);
    color: var(--headline-color);
    font-size: 2.5rem;
    max-width: 600px;
    margin-bottom: 1rem;
}

.text-container p {
    font-family: var(--main-font);
    color: var(--headline-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    max-width: 600px;
}

.text-container button {
    background-color: var(--button-color) !important;
    border-radius: 50px !important;
    margin-top: 30px;
    padding: 15px 15px !important;
    max-width: 600px;
    font-family: var(--headline-color) !important;
}

section {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 60px;
}

blockquote {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
  }
  
  blockquote::before {
    content: "“"; 
    position: absolute;
    left: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 0;
    font-size: 3.5rem; 
    line-height: 0;
    color: #000; 
  }
  
  blockquote::after {
    content: "”"; 
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem; 
    line-height: 0;
    color: #000; 
  }

 
 
 
  .container-fluid.full-width { 
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}

    .container-fluid.full-width { 
        padding-left: 0;
        padding-right: 0;
        overflow-x: hidden;
    }

    .row.row-no-gutter {
        margin: 0;
    }

    .row.row-no-gutter [class*="col-"] {
        padding: 0;
    }

    .img-full-width {
        width: 100%;
        height: auto;
    }

    .has-inner .row.row-no-gutter {
        margin-left: -10px;
        margin-right: -10px;
    }

    .row.row-no-gutter .inner {
        padding-left: 10px;
        padding-right: 10px;
    }


    .col-xs-4:first-child {
        padding-left: 0;
    }

    .col-xs-4:last-child {
        padding-right: 0;
    }



